<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayAndPaint">
    <activity
            android:name=".JuegoCatchActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadoActivity"
            android:exported="false" />
        <activity
            android:name=".JuegoCountActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".ElegirJuegosActivity"
            android:exported="false"/>

    </application>

</manifest>
